.forecast {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	// font-family: Lucida Console, Monaco, monospace;
	font-family: Lato, sans-serif;
	color: white;
background-image: url('../images/moon.jpg');
background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;

	// background-image: linear-gradient(to bottom right, red, yellow);
}