.detailed-forecast {
	padding: 20px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-around;
	align-items: center;
	background-color: white, 50%;
	border-radius: 30px;
}