.summary {
	padding: 20px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-around;
	align-items: center;
}

.details {
	margin-top: 20px;
}